.checkout-section {
  position: relative;
  padding-top: 90px;
  margin-bottom: var(--spacing-l);
}

.checkout-form {
  padding: var(--spacing-base);
  background-color: var(--clr-neutral-100);
  margin-bottom: 2rem;
  border-radius: 0.5rem;
}

.checkout-form h3 {
  margin-bottom: var(--spacing-s);
}

.form-legend {
  margin-bottom: 1rem;
}

.form-label {
  display: block;
  font-weight: var(--fw-bold);
  font-size: 12px;
  margin-bottom: 0.5rem;
}

.form-control {
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  margin-bottom: var(--spacing-base);
  width: 100%;
  border: 1px solid var(--clr-neutral-400);
}

input {
  outline: none;
}

input:focus {
  outline: 1px solid var(--clr-primary-400);
}

input[type='radio'] {
  outline: none;
  accent-color: var(--clr-primary-400);
}

.radio-group {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.radio-label {
  font-size: 14px;
  font-weight: var(--fw-bold);
  margin-bottom: 0;
}

.form-group {
  margin-bottom: 1.5rem;
  position: relative;
}

.error-msg {
  font-size: var(--text-xs);
  color: red;
  position: absolute;
  bottom: 0;
}

.checkout-summary {
  margin-bottom: var(--spacing-l);
  padding: var(--spacing-base);
  background-color: var(--clr-neutral-100);
  border-radius: 0.5rem;
}

.checkout-summary h6 {
  margin-bottom: var(--spacing-base);
}

.payment-method img {
  margin-bottom: var(--spacing-base);
}

.payment-method p {
  font-size: var(--text-base);
  opacity: 0.5;
}

@media (min-width: 640px) {
  .payment-method {
    display: flex;
    gap: 2rem;
    align-items: center;
  }

  .payment-method img {
    margin: 0;
  }
}

@media (min-width: 1024px) {
  .checkout-form {
    padding: 64px 48px;
  }
}
