.header {
  background-color: var(--clr-black-400);
  position: relative;
  /* top: -90px; */
  /* left: 0; */
  /* width: 100%; */
  padding-block: calc(90px + var(--spacing-s)) var(--spacing-s);
  margin-bottom: var(--spacing-m);
}

.page-heading {
  color: var(--clr-neutral-100);
  text-align: center;
}

@media (min-width: 680px) {
  .header {
    padding-block: calc(90px + var(--spacing-m)) var(--spacing-m);
    margin-bottom: var(--spacing-l);
  }
}
