.menu-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
  margin-bottom: var(--spacing-l);
}

.menu-card {
  background-color: var(--clr-neutral-400);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.menu-heading {
  font-size: var(--text-base);
  font-weight: var(--fw-bold);
  letter-spacing: 1px;
  text-transform: uppercase;
}

.menu-image {
  width: 50%;
  position: relative;
}

@media (min-width: 640px) {
  .menu-container {
    flex-direction: row;
    gap: var(--spacing-base);
    margin-bottom: var(--spacing-xl);
  }
}
