.product-card-content {
  text-align: center;
}

.product-preview {
  margin-bottom: var(--spacing-base);
}

.product-image {
  border-radius: 0.5rem;
}

.product-desc {
  margin-bottom: var(--spacing-base);
}

.product-name {
  color: var(--clr-black-400);
}

@media (min-width: 1024px) {
  .product-card {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .product-card-content {
    text-align: left;
    padding-left: 125px;
  }
}
