.product-detail-section {
  padding-top: 90px;
  margin-bottom: var(--spacing-xl);
}

.back-btn {
  text-transform: capitalize;
  color: var(--clr-black-400);
  opacity: 0.5;
  display: inline-block;
  cursor: pointer;
  margin-block: var(--spacing-base);
}

.back-btn:hover {
  color: var(--clr-primary-400);
  opacity: 1;
}

.product-detail-card {
  margin-bottom: var(--spacing-m);
}

.product-detail-image {
  margin-bottom: var(--spacing-base);
}

.product-detail-content {
  text-align: left;
}

.price {
  font-size: 1.125rem;
  font-weight: var(--fw-bold);
  letter-spacing: 1.29px;
  margin-bottom: 2rem;
}

.card-text {
  color: var(--clr-black-400);
  opacity: 50%;
  white-space: pre-line;
  margin-bottom: var(--spacing-base);
}

.order-tab {
  display: flex;
  gap: 1rem;
}

.features-section {
  margin-bottom: var(--spacing-m);
}

.includes-section {
  margin-bottom: var(--spacing-m);
}

.includes-name {
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  opacity: 50%;
}

.includes-qty {
  color: var(--clr-primary-400);
  margin-right: var(--spacing-base);
  font-weight: var(--fw-bold);
  opacity: 100%;
}

.gallery-section {
  margin-bottom: var(--spacing-m);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-base);
}

.gallery-section img {
  border-radius: 0.5rem;
}

.other-section .heading {
  text-align: center;
  margin-bottom: var(--spacing-s);
}

.other-items {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
}

.other-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

@media (min-width: 680px) {
  .product-detail-card {
    display: flex;
    gap: var(--spacing-m);
    align-items: center;
    justify-content: center;
  }

  .product-detail-image {
    margin-bottom: 0;
  }

  .product-detail-content {
    width: 90%;
  }

  .gallery-section {
    flex-direction: row;
  }

  .includes-section {
    display: flex;
    justify-content: space-between;
  }

  .includes-section > div {
    width: 50%;
  }

  .other-items {
    flex-direction: row;
    gap: var(--spacing-base);
  }

  .other-section .heading {
    margin-bottom: var(--spacing-m);
  }
}

.order-count-tab {
  background-color: var(--clr-neutral-400);
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  width: 120px;
}

.order-count {
  font-size: var(--text-xs);
  font-weight: var(--fw-bold);
  color: var(--clr-black-400);
}

.order-btn {
  font-size: var(--text-xs);
  font-weight: var(--fw-bold);
  font-family: inherit;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: border-color 0.25s;
  display: inline-block;
}

.order-btn {
  color: var(--clr-black-400);
  opacity: 0.25;
}

.order-btn:hover {
  color: var(--clr-primary-400);
}

.order-count-tab--small {
  width: 96px;
  padding: 0.5rem;
}

@media (min-width: 1024px) {
  .back-btn {
    margin-block: var(--spacing-m);
  }

  .product-detail-card {
    gap: var(--spacing-l);
  }

  .features-section {
    width: 60%;
  }

  .includes-section {
    flex-direction: column;
    justify-content: start;
  }

  .includes-section > div {
    width: 100%;
  }
}
